<html lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <style>
        button{
            text-decoration: none;
            display: inline-block;
            padding: 2px 6px;
            border:  solid darkgray;
            background-color: transparent;
            border-radius: 8px;
        }

        button:hover {
            background-color: #ddd;
            color: black;
        }

        .previous {
            background-color: #f1f1f1;
            color: black;
        }
    </style>
</head>
<body style="background-color:#f8f9fa;">
<div style="font-family:sans-serif; text-align:center">
    <h2 >Expense Report</h2>
</div>
<br>
<form style="font-family:sans-serif;padding-right: 20px; text-align:center" action="/test/submit" method="post">
    <label><h4>Choose Month:</h4></label>
    <input type="month" name="month">
    <button type="submit">Submit</button>
</form>
<form style="font-family:sans-serif;padding-right: 20px; text-align:center" action="/test/all" method="post">
    <label><h4>View all Expense Data</h4></label>
    <button type="submit">All Expenses </button>
</form>
<form style="font-family:sans-serif;padding-right: 20px; text-align:center" action="/nav" method="get">
    <button class="previous" type="submit">Back to Menu</button>
</form>
</br>
<br>
<table class="table table-striped">
    <caption style="text-align:center;padding-right:2cm; color:black"><h3>Total : {{ total }}</h3></caption>
    <thead>
    <tr>
        <th scope="col">Expense ID</th>
        <th scope="col">Sum</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    {{# each items }}
        <tr>
        <th scope="row">{{ this._id}}></th>
        <td>{{this.sum}}</td>
        <td>{{this.category}} </td>
        <td>{{this.description}} </td>
        <td>{{this.date}} </td>
        </tr>
    {{/each}}
    </tbody>
</table>
</br>
<div class="container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart"></canvas>
</div>
<script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';


    var categories_list= "{{ category }}" ;
    var categories_array = categories_list.split(",");

    var sums_list= "{{ sum }}" ;
    var sums_array = sums_list.split(",");

   var dict_cat_sum= [];

    for (let i = 0; i < categories_array.length; i++){
        if (categories_array[i] in dict_cat_sum){
            var sum=0;
            sum += parseFloat(dict_cat_sum[categories_array[i]]) + parseFloat(sums_array[i])
            dict_cat_sum[categories_array[i]] =  sum ;
        }
        else {
            dict_cat_sum[categories_array[i]] = sums_array[i];
        }
    }

    let massPopChart = new Chart(myChart, {
        type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels: Object.keys(dict_cat_sum),
            datasets:[{
                label: [] ,
                data: Object.keys(dict_cat_sum).map(function (key) { return dict_cat_sum[key]; }),
                backgroundColor:['rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(255, 245, 86, 0.6)',
                'rgba(75, 123, 192, 0.6)',
                'rgba(153, 189, 255, 0.6)',
                'rgba(255, 137, 234, 0.6)',
                'rgba(242, 13,23, 0.6)',
                'rgba(240, 189, 230, 0.6)',
                'rgba(255, 123, 64, 0.6)',
                'rgba(255, 99, 132, 0.6)'],
                borderWidth:1,
                borderColor:'#777',
                hoverBorderWidth:3,
                hoverBorderColor:'#777'
            }]
        },
        options:{
            title:{
                display:true,
                text:'Expenses by Category Graph',
                fontSize:18
            },
            legend:{
                display: false,
                position:'right',
                labels:{
                    fontColor:'#000'
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            layout:{
                padding:{
                    left:50,
                    right:0,
                    bottom:0,
                    top:0
                }
            },
            tooltips:{
                enabled:true
            }
        }
    });
</script>

</body>
</html>